@import '../../../style/sass/abstracts/variables';
@import '../../../style/sass/abstracts/mixins';
/*  */

.course {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-size: $font-size-sm;
  height: 16rem;
  margin-bottom: 2rem;
  width: 23rem;
  cursor: pointer;
  &:link{
    text-decoration: none;
  }
  &__header {
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: $paradiso;
    color: $white;
    flex: 5;
    font-weight: 900;
    font-size: $font-size-md;
    padding: 0.75rem 1.25rem;
    transition: all .3s;
    @include abs-midle-align;
    &--generic {
      background-color: $emerald;
    }
  }
  &__footer {
    background: $cadet-blue;
    border-radius: 0 0 0.25rem 0.25rem;
    color: $downy-dark;
    flex: 1;
    font-weight: 900;
    padding: 1.25rem;
    text-align: right;
  }
  &__highlight {
    color: $japonica;
  }
  &:hover &__header {
    background-color: $downy-dark;
  }
}