// FONT
$font-size-sm: 1.2rem;
$font-size-sm-3: 1.3rem;
$font-size-default: 1.4rem;
$font-size-base: 1.6rem;
$font-size-md: 2rem;
$font-size-md-2: 2.4rem;
$font-size-sm-lg: 4rem;
$font-size-lg: 4.2rem;
$font-size-big: 10rem;
// COLORS
$alabaster:#f9f9f9;
$downy:#64D5BE;
$downy-light:#99fff1;
$downy-dark:#29a38e;
$white: #fff;
$black: #000;

$cadet-blue: #f5f4f6;

$purple-heart: #5D1EB2;
$daisy-bush:#561CA6;
$torch-red:#FF223E;
$dove-gray: #656565;
$cod-gray:#161616;