*,
*::after,
*::before,
figure {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  min-height: 100%;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: $downy;
}

ul {
  list-style: none;
}

.btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

